.formContainer {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 120px 0;
  border: 1px solid black;
  width: fit-content;
  padding: 60px;
  background-color: $secondaryColor;

  .formSection {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    select {
      width: 250px;
      height: 35px;
      border-radius: 15px;
      padding: 0 10px;
      border: none;
      color: $secondaryColor;
    }

    label {
      padding-left: 15px;
      color: $navTextColor;
    }

    .btn {
      width: 150px;
      height: 40px;
      cursor: pointer;
    }
  }

  .formSectionCheckbox {
    display: flex;
    gap: 70px;
  }

  .checkboxSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    label {
      color: $navTextColor;
    }
  }
}
