/*
$primaryColor: #027f00;
$secondaryColor: #013300;
$textColor: #ffffff;
$secondaryText: #82ff7f;
*/

$secondaryColor: #202020;
$navTextColor: #c1c1c1;
$secondaryText: #7f7f7f;
$secondaryTextH: #a0a0a0;
$highliteText: #a22720;
$background: #f8f8f8;
$textColor: #333333;

$headline: 54px;
$secondaryHeadline: 36px;
$text: 18px;
